<footer class="da-footer">
  <div class="row">
    <div class="da-footer__logo col-md-3">
      <a href="#"><img src="../../assets/img/da-logo__gray.png" alt="Digital Agency"></a>
    </div>
    <div class="da-footer__made-by col-md-6">
      <p>Made with 💙 by Emilyn C. Pieritz</p>
    </div>
    <div class="da-footer__links col-md-3">
      <a href="https://www.linkedin.com/in/ecpieritz/" target="_blank" rel="noopener noreferrer">
        Linkedin
      </a>
      <a href="https://github.com/ecpieritz" target="_blank" rel="noopener noreferrer">
        Github</a>
    </div>
  </div>

</footer>
