<div class="da-services__design">
  <div class="da-title">
    <h4>Amazing Design Services</h4>
    <h2>Beautiful and Easy to Use Professional Feature</h2>
  </div>

  <div class="row">
    <div class="col-md-6 da-services__design__topic">
      <div class="row">
        <div class="col-md-3 row da-services__design__topic__img">
          <fa-icon [icon]="faCode" />
        </div>
        <div class="col-md-9 da-services__design__topic__text">
          <h3>Development</h3>
          <p>Encompasses a wide range of topics, including front-end, back-end, database management, and responsive layouts, ensuring a holistic approach to building effective and dynamic websites.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 da-services__design__topic">
      <div class="row">
        <div class="col-md-3 row da-services__design__topic__img">
          <fa-icon [icon]="faLightbulb" />
        </div>
        <div class="col-md-9 da-services__design__topic__text">
          <h3>Marketing</h3>
          <p>Covers various topics, including market research, branding, advertising, digital strategies, and customer engagement, driving business growth and building connections with target audiences.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 da-services__design__topic">
      <div class="row">
        <div class="col-md-3 row da-services__design__topic__img">
          <fa-icon [icon]="faPenToSquare" />
        </div>
        <div class="col-md-9 da-services__design__topic__text">
          <h3>Design</h3>
          <p>Encompasses topics such as user experience (UX) design, visual aesthetics, responsive layouts, and intuitive navigation, creating captivating and functional online experiences.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 da-services__design__topic">
      <div class="row">
        <div class="col-md-3 row da-services__design__topic__img">
          <fa-icon [icon]="faAt" />
        </div>
        <div class="col-md-9 da-services__design__topic__text">
          <h3>eCommerce</h3>
          <p>Covers topics like online store design, product catalog management, secure payment gateways, and customer relationship management, enabling seamless and profitable online transactions.</p>
        </div>
      </div>
    </div>


  </div>
</div>
