@import '../../../styles.scss';

.da-header__banner{
  padding: 60px 0;
  &__text{
    padding-left: 110px;
    h1{
      color: $da-text-dk;
      width: 80%;
    }
    p{
      font-size: 25px;
      width: 80%;
    }
  }

  &__img{
    img{
      height: 500px;
      position: relative;
      margin-left: -220px;
    }
  }
}
