@import '../../../styles.scss';

.da-header__banner{
  padding: 60px 0;
  &__text{
    padding-left: 110px;
    h1{
      color: $da-text-dk;
      width: 80%;
    }
    p{
      font-size: 25px;
      width: 80%;
    }
  }

  &__img{
    img{
      height: 500px;
      position: relative;
      margin-left: -220px;
    }
  }

  @media(max-width: 780px){
    .row{
      display: flex;
      flex-direction: column-reverse;
    }

    &__text{
      padding-left: 10px;
      h1{
        width: 100%;
      }
      p{
        width: 100%;
      }
    }

    &__img{
      img{
        height: auto;
        width: 100%;
        position: relative;
        margin-left: 0;
      }
    }
  }
}
