@import '../../styles.scss';
@import '../app.component.scss';

.da-about{
  padding: 160px 0 0;
  .da-title{
    width: 60%;
  }
  &__img{
    img{
      width: 80%;
    }
  }
  &__text{
    margin-top: 60px;
    h5{
      color: $da-cyan;
    }

    a{
      margin-top: 60px;
    }

  }

  @media(max-width: 780px){
    padding: 80px 0 0;
    .da-title{
      width: 100%;
    }
    &__img{
      img{
        margin-top: 40px;
        width: 100%;
      }
    }
  }
}
