<div class="da-services__cards">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/da-service__digital-design.png" alt="Men in laptop">
      <h3>Digital Design</h3>
      <p>Digital design services provide innovative solutions for visually captivating and user-friendly digital experiences, elevating brands and engaging audiences.</p>
    </div>

    <div class="col-md-6">
      <img src="../../assets/img/da-service__brand-identity.png" alt="Men in laptop">
      <h3>Brand Identity</h3>
      <p>Brand identity services help businesses establish a strong and memorable brand image through strategic logo design, cohesive visual elements, and compelling brand messaging.</p>
    </div>
  </div>
</div>
