<section class="da-contact" id="da-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="da-title">
          <h4>Let's talk</h4>
          <h2>About Your Next Project</h2>
        </div>
      </div>

      <div class="col-md-7 ">
        <form class="da-contact__form">
          <div class="form-row">
            <div class="col mb-3">
              <label for="nameValidation">Your Name</label>
              <input type="text" class="form-control" id="nameValidation" value="Emilyn Pieritz" required>
            </div>
            <div class="col mb-3">
              <label for="emailValidation">Your e-mail</label>
              <input type="email" class="form-control" id="emailValidation" value="your@mail.com" required>
            </div>
          </div>
          <div class="form-row">
            <div class="mb-3">
              <label for="messageValidation">Your Message</label>
              <textarea class="form-control" id="messageValidation" placeholder="Your message here" required></textarea>
            </div>
          </div>
          <button class="btn btn-cyan" type="submit">Send</button>
        </form>
      </div>
    </div>


  </div>
</section>
