@import '../../styles.scss';

.da-contact{
  padding: 160px 0 80px;
  .container{
    padding: 40px;
    background-image: url(../../assets/img/da-contact__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .da-title{
    width: 80%;
    text-align: left;
  }

  .btn-cyan{
    padding: 10px 50px;
  }

  @media(max-width: 780px){
    padding: 80px 0 0;
    .container{
      background-image: none;
    }
    .da-title{
      width: 100%;
    }
  }
}
