<nav class="da-header__navbar">
  <a class="da-header__navbar__logo" href="http://"><img src="../../../assets/img/da-logo__color.png" alt="Agency logo"></a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#da-navbar">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#da-services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#da-about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#da-portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#da-events">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#da-team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#da-testimonial">Testimonial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#da-contact">Contact</a>
    </li>
  </ul>
</nav>
