@import '../../../styles.scss';

.da-header__navbar{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo{
    img{
      width: 200px;

    }
  }

  @media(max-width: 780px){
    display: flex;
    flex-direction: column;

    .justify-content-end{
      justify-content: center !important;

    }
  }
}
