<section class="da-portfolio" id="da-portfolio">
  <div class="container">
    <div class="da-title">
      <h4>What We Present You</h4>
      <h2>Our Portfolio Speaks Better Than Words!</h2>
    </div>

    <div class="row">
      <div class="da-portfolio__img col-lg-4 col-md-6">
        <img src="../../assets/img/da-portfolio__01.png" alt="">
      </div>
      <div class="da-portfolio__img col-lg-4 col-md-6">
        <img src="../../assets/img/da-portfolio__02.png" alt="">
      </div>
      <div class="da-portfolio__img col-lg-4 col-md-6">
        <img src="../../assets/img/da-portfolio__03.png" alt="">
      </div>
      <div class="da-portfolio__img col-lg-4 col-md-6">
        <img src="../../assets/img/da-portfolio__04.png" alt="">
      </div>
      <div class="da-portfolio__img col-lg-8">
        <img src="../../assets/img/da-portfolio__05.png" alt="">
      </div>
    </div>
  </div>
</section>
