<section class="da-testimonial" id="da-testimonial">
  <div class="container">
    <div class="da-title">
      <h4>Look at Their Opinions!</h4>
      <h2>4 Years of Experence Over 1k Happy Clients!</h2>
    </div>

    <div class="row">
      <div class="col-md-6 da-testimonial__comment">
        <div class="row">
          <div class="col-md-4 da-testimonial__comment__img">
            <img src="../../assets/img/da-testimonials__01.png" alt="">
          </div>
          <div class="col-md-8 da-testimonial__comment__text">
            <p><strong>The website development team exceeded my expectations with their exceptional work. They delivered a stunning and user-friendly website that perfectly captured our brand and boosted our online presence.</strong></p>
            <h5>Isabella Rossi</h5>
            <h5 class="da-color__text__cyan-dk">CEO - XZ Enterprise</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6 da-testimonial__comment">
        <div class="row">
          <div class="col-md-4 da-testimonial__comment__img">
            <img src="../../assets/img/da-testimonials__02.png" alt="">
          </div>
          <div class="col-md-8 da-testimonial__comment__text">
            <p><strong>The brand styling team did an incredible job creating a cohesive and captivating brand identity. Their attention to detail and creative vision elevated our brand, making it truly stand out in the market.</strong></p>
            <h5>Matteo Muller</h5>
            <h5 class="da-color__text__cyan-dk">CEO - GF Digital</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
