<div class="row">
  <div class="col-md-6 da-about__img">
    <img src="../../../assets/img/da-design__our-vision.png" alt="">
  </div>

  <div class="col-md-6 da-about__text">
    <h5>Our vision</h5>
    <h3>Why Wait? Start Your Own Business</h3>
    <ul class="da-list__check">
      <li>Talk more about your project</li>
      <li>We help businesses grow fast</li>
      <li>Change the way for business.</li>
    </ul>
    <a href="#da-contact" class="btn btn-cyan">Contact us to find out more</a>
  </div>
</div>
