<div class="row">
  <div class="col-md-6 da-about__img">
    <img src="../../../assets/img/da-design__boosts.png" alt="">
  </div>

  <div class="col-md-6 da-about__text">
    <h5>About us</h5>
    <h3>Boosts Your Website Traffic!</h3>
    <p>Web traffic is the lifeblood of online success, representing the number of visitors a website receives. It can be driven through various strategies, including search engine optimization (SEO), content marketing, social media promotion, and targeted advertising. By effectively optimizing and managing web traffic, businesses can increase their online visibility, attract relevant audiences, and ultimately achieve their goals.</p>
    <a href="#da-contact" class="btn btn-cyan">Contact us to find out more</a>
  </div>
</div>
