@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// COLORS
$da-cyan-lg: #86d2e6;
$da-cyan: #52D0F0;
$da-cyan-dk: #0d5364;
$da-text: #ffffff;
$da-text-dk: #000000;
$da-bg: #000000;

*{
  font-family: 'Poppins', sans-serif;
  color: $da-text;
}

body{
  background-color: $da-bg;
}

// TEXT
h1{
  line-height: 1.4;
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: 700;
}

h2{
  line-height: 1.4;
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: 700;
}

h3{
  line-height: 1.4;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 700;
}

h4{
  line-height: 1.4;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

p{
  font-size: 18px;
  margin: 0;
}

// HR
.da-hr{
  height: 3px;
  background-color: $da-cyan;
  border-color: $da-cyan;
  margin: 0;
}

// TITLE BLOCK
.da-title{
  text-align: center;
  width: 80%;
  margin: auto;
  h4{
    color: $da-cyan;
    margin-bottom: 20px;
  }
}
