<section class="da-team" id="da-team">
  <div class="container">
    <div class="da-title">
      <h4>Teamwork</h4>
      <h2>Meet Our Talented Team Members</h2>
    </div>

    <div class="row">
      <div class="col-lg-6 da-team__person">
        <img src="../../assets/img/da-team__01.jpg" alt="">
        <h3>Emily Anderson</h3>
        <p>UI/UX Designer</p>
      </div>
      <div class="col-lg-6 da-team__person">
        <img src="../../assets/img/da-team__02.jpg" alt="">
        <h3>Olivia Thompson</h3>
        <p>Web Developer</p>
      </div>
    </div>

  </div>
</section>
